 

/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}
.dom{
  font-weight: 700;
  font-size: 60px;
  color: #2ecc71;
}
/* DOM-text*/
.dom-text{
  min-height: 600px;
  width: auto;
}
.bg{
  background-image: url('../images/ve.jpg');
  background-repeat: no-repeat;
  min-height: 660px;
  background-size: cover;
}

.dom-info{
  text-align: center;
  color: #000;
  margin-top: 6%;
  margin-bottom: 10px;
  padding-top: 2%;
}
.dom-info p{
  color: #000;
  font-size: 16px;
  font-weight: 700;
}
.dom-info h2{
  padding-bottom: 2%;
  font-family: 'Marck Script', cursive;
  font-size: 50px;
  color: #000;
}
.dom-text p{
  color: #313131;
}


/* ENd DOM-text*/

.size{
  font-weight: 700;
  font-size: 45px;
}
.lead{
  font-family: 'Marck Script', cursive;
  font-weight: 700;
  font-size: 45px;
}
.time{
  display: inline-block; /* Строчно-блочный элемент */
  position: relative;
  margin-top: 12px; /* Относительное позиционирование */
   }
.time:hover::after {
  content: attr(data-title);
  width: 70px;
  height: auto;
  color: #fff;
  position: absolute;
  top: 44px;
  left: -10px;
  z-index: 2; 
  font-size: 12px;
  color: #f75e07;
}
/* FOoter*/

.footer{
  bottom: 0;
  width: 100%;
  height: auto;
  /* Set the fixed height of the footer here */ /* Vertically center the text there */
  padding-top: 15px;
}
body h1, h2, h3, h4, h5, h6{
  margin-top: 0;
}
/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #fff;
  border: 1px solid #fff;
}

/*
 * Base structure
 */

html,
body {
  text-align: center;
}
body {
  color: #fff;
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
  font-family: 'Roboto';
  font-weight: 500;
  
}
/*
 * Cover
 */
.cover{
  position: absolute; 
  width: 100%;
  height: 100%;
  z-index: 200;
  background: rgba(0, 0, 0, 0.6) none repeat scroll 0 0;
}

}
.cover-container h1{
  font-family: 'Rouge Script', cursive;
  font-weight: 700;
  color: white;
}
.cover .btn-lg {
  padding: 10px 20px;
  font-weight: bold;
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  display: table;
  width: 100%;
  height: 5%; /* For at least Firefox */
  min-height: 5%;
  background: #000;
}
.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
}
.cover-container {
  margin-right: auto;
  margin-left: auto;
}
.cover-heading{
  margin-top: 10%;
}
/* Padding for spacing */
.inner {
  padding: 0 10% 0 5%;
}
.phone{
  float: left;
  margin: 15px 8%;
  font-size: bold;
  font-family: 'Roboto';
  font-weight: 700;
}
/*
 * Header
 */
.masthead-brand {
  margin-top: 5px;
  margin-bottom: 5px;
  font-family: 'Rouge Script', cursive;
  font-weight: 700;
}

.masthead-nav > li {
  display: inline-block;
}
.masthead-nav > li + li {
  margin-left: 20px;
}
.masthead-nav > li > a {
  padding-right: 0;
  padding-left: 0;
  padding-top: 15%;
  font-size: 14px;
  font-weight: bold;
  color: #fff; /* IE8 proofing */
  color: rgba(255,255,255,.75);
  border-bottom: 2px solid transparent;
}
.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
  background-color: transparent;
  border-bottom-color: #a9a9a9;
  border-bottom-color: rgba(255,255,255,.25);
}
.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
  color: #fff;
  border-bottom-color: #fff;
}
body p{
  color: #fff
}
@media (min-width: 768px) {
  .masthead-brand {
  float: left;
  }
  .masthead-nav {
  float: right;
  }
}

/*
 * Affix and center
 */

@media (min-width: 768px) {
  /* Pull out the header and footer */
  .masthead {
  top: 0;
  }

  /* Start the vertical centering */
  .site-wrapper-inner {
  vertical-align: middle;
  }
  /* Handle the widths */
  .masthead,
  .mastfoot,
  .cover-container {
  width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }
}


