.comment-body{
  background: #f4e8e8;
  margin-left: -33px;
  margin-right: -33px;
}
.header-com{
  text-align: left;
  border-bottom: 1px solid;
  color: grey;
}
.text-header{
  margin: 4% 0;
}
.com-pad{
  margin: 0 20px;
}
.com-pad-header{
  margin: 0 20px;
  font-size: 16px;
  font-weight: 700;
  padding: 2%;
  font-family: lucida Grande;
}
.new-comment{
  border: 2px solid #000;
  background: #b9a3c2;
  margin-top: 4%;
  margin-bottom: 4%;
}
.comment-id{
  border-bottom: 1px solid grey;
  margin-top: 5px;
  color: #39361c;
}
.comment-id p{
  color: #39361c;
}
/* Стили для формы*/

#ratingFlag em::before {
    border-color: transparent #00af87 transparent transparent;
    border-style: solid;
    border-width: 14px 13px 14px 0;
    content: "";
    height: 0;
    left: -13px;
    position: absolute;
    top: 0;
    width: 0;
}
#ratingFlag em {
    background: #00af87 none repeat scroll 0 0;
    color: #fff;
    display: block;
    font-size: 1.167em;
    font-weight: bold;
    height: 21px;
    line-height: 20px;
    margin: -6px 0 0;
    padding: 0 10px;
    position: relative;
    text-align: center;
    top: 6px;
}
#ratingFlag em {
    height: 28px;
    line-height: 19px;
    margin-left: 20px;
    padding: 5px 12px 5px 10px;
    top: 4px;
}
#ratingFlag{
    float: left;
}
.like1{
    width: 28px;
    height: 28px;
    border: 2px solid #00af87;
    border-radius: 50%;
    float: left;
    background: #fff;
}
.likes{
    float: left;
    margin-left: 10%;
    margin-right: 10%;
}
.yes{
  background: #00af87;
  border: 2px solid #fff;
}
.user img{
    display: inline-block;
    border-radius: 50%;
}
.date{
  padding-top: 1%;
  font-size: 12px;
}
.yes1{
  background: #00af87;
  border: 2px solid #fff;
}
.img{
padding-top: 5px;
}
.left{
  text-align: left;
  padding-left: 10%;
}